.container-fluid {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
 }

.navbar {
    background-image: url('../img/pizza8.jpg');
    background-repeat: no-repeat;
    background-color: #090909;
    padding-bottom: 100px;
}

.navbar-nav .nav-item, .navbar-nav .nav-item .nav-link {
    color: white;
    font-family: 'Fredoka One', cursive;
}

.carousel-item {
    height: 400px;
}

.jumbotron {
    background: transparent !important;
}

.modal-body .btn, .modal-footer .btn, .register-body .btn, .cart-body .btn {
    background-color: #a5d192;
}

.card img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
