{% extends "orders/base.html" %}

{% load static %}

{% block content %}
<!-- Menu list -->
<div class="row list-group list-group-horizontal">
    <a href="#" class="col list-group-item list-group-item-action border-dark rounded-0"><img src="{% static '/orders/img/pizza.png' %}"><span class="h4">Pizzas</span></a>
    <a href="#" class="col list-group-item list-group-item-action border-dark rounded-0"><img src="{% static '/orders/img/pasta.png' %}"><span class="h4">Pasta</span></a>
    <a href="#" class="col list-group-item list-group-item-action border-dark rounded-0"><img src="{% static '/orders/img/salad.png' %}"><span class="h4">Salads</span></a>
    <a href="#" class="col list-group-item list-group-item-action border-dark rounded-0"><img src="{% static '/orders/img/dessert.png' %}"><span class="h4">Desserts</span></a>
    <a href="#" class="col list-group-item list-group-item-action border-dark rounded-0"><img src="{% static '/orders/img/drink.png' %}"><span class="h4">Drinks</span></a>
</div>

<!-- Carousel -->
<div id="carouselExampleIndicators" class="row carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3000">
            <img src="{% static '/orders/img/pizza5.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="{% static '/orders/img/pizza2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="{% static '/orders/img/pizza3.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<!-- Jumbotron -->
<div class="jumbotron">
    <h1 class="display-4">Simply, the best!</h1>
    <p class="lead">With over 100 years of experience, you can be sure you are eating from the masters.</p>
    <hr class="my-4">
    <p>Delicious pizza and fast delivery make us city's most loved pizza place.</p>
    <a class="btn btn-dark btn-lg" href="#" role="button">PLACE AN ORDER</a>
</div>
{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="modal-body mx-3" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-5">
                    <i class="fa fa-user"></i>
                    <label data-error="wrong" data-success="right" for="defaultForm-username">Username</label>
                    <input type="text" id="defaultForm-username" name="username" class="form-control">
                </div>
                <div class="mb-5">
                    <i class="fa fa-lock"></i>
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Password</label>
                    <input type="password" id="defaultForm-pass" name="password" class="form-control">
                </div>
                <div class="mb-2 d-flex justify-content-center">
                    <input class="btn btn-default px-5" type="submit" value="Login"/>
                </div>
            </form>
            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-center">
                <div class="mb-2">Don't have an account yet?<a href="{% url 'register' %}"> Register</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}