{% extends "orders/baseWmenu.html" %}

{% load static %}

{% block content %}
<!-- Carousel -->
<div id="carouselExampleIndicators" class="row carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3000">
            <img src="{% static '/orders/img/pizza5.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="{% static '/orders/img/pizza2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="{% static '/orders/img/pizza3.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<!-- Jumbotron -->
<div class="jumbotron">
    <h1 class="display-4">Simply, the best!</h1>
    <p class="lead">With over 100 years of experience, you can be sure you are eating from the masters.</p>
    <hr class="my-4">
    <p>Delicious pizza and fast delivery make us city's most loved pizza place.</p>
    <a class="btn btn-dark btn-lg" href="#" role="button">PLACE AN ORDER</a>
</div>
{% endblock %}
