{% extends "orders/baseWmenu.html" %}

{% load static %}

{% block content %}
<!-- Carousel -->
<div id="carouselExampleIndicators" class="row carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static '/orders/img/' %}{{menu_cat}}.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<div class="row">
    {% for item in items %}
    <div class="col-md-3 col-sm-4 col-6">
        <div class="card mt-3" id="{{item.id}}">
            <img class="card-img-top" src="{% static '/orders/img/' %}{{item.name}}.jpg" alt="Card image cap">
            <div class="card-body">
                <div>
                    <h5 class="card-title">{{item.name}}</h5>
                    <h3 class="card-text">{{item.price}} &euro;</h3>
                    <input type="button" class="btn btn-primary add-to-cart mr-2" value="Add to cart"/>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}