.navbar {
    background-image: url('./img/pizza8.jpg');
    background-repeat: no-repeat;
    background-color: #090909;
    padding-bottom: 100px;
  }
  
  .navbar-brand, .navbar-nav .nav-item, .navbar-nav .nav-item .nav-link {
    color: white;
    font-family: 'Fredoka One', cursive;
  }
  
  .nav-item input {
    background-color: transparent;
    border-style: none;
    outline: none;
  }